{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="{% static 'yukti/css/swiper-bundle.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'yukti/css/Homepage.css' %}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <a href="" class="logo">Logo</a>
        <div class="navigation">
          <div class="nav-items">
            <i class="uil uil-times nav-close-btn"></i>
            <a href="#" style="font-weight: bold"
              ><i class="fa-solid fa-house-blank"></i> Home</a
            >
            <a href="#"><i class="fa-brands fa-twitter"></i> Trending Tweets</a>
            <a href="faq"><i class="fa-solid fa-comment-question"></i> FAQ</a>

            <span>
              {% if user.is_authenticated %}
                  <a href="{% url 'accounts:logout' %}">Logout</a>
            
              {% else %}
              <a href="{% url 'accounts:register' %}"><i class="fa-solid fa-user"></i> Sign Up</a>
              <a href="{% url 'accounts:login' %}"><i class="fa-solid fa-user"></i> Login Up</a>
              {% endif %}
            </span>


            
            {% comment %} <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i> Sign Up</a> {% endcomment %}
          </div>
        </div>
        <i class="uil uil-apps nav-menu-btn"></i>
      </div>
    </header>

    <section class="home">
      <div class="media-icons">
        <a href="#"><i class="uil uil-facebook-f"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-twitter"></i></a>
      </div>

      <div class="swiper bg-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="{% static 'yukti/assets/images/bg1.jpg' %}" alt="" />
            <div class="text-content">
              <h2 class="title">Title<span>1</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis obcaecati ipsum minus sit vitae magnam vel labore
                excepturi dignissimos nihil! Magnam, accusamus possimus
                exercitationem in sapiente nulla. Temporibus, aliquid voluptate?
              </p>
              <button class="read-btn">
                Read More <i class="uil uil-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="swiper-slide dark-layer">
            <img src="{% static 'yukti/assets/images/bg2.jpg' %}" alt="" />
            <div class="text-content">
              <h2 class="title">Title<span>2</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis obcaecati ipsum minus sit vitae magnam vel labore
                excepturi dignissimos nihil! Magnam, accusamus possimus
                exercitationem in sapiente nulla. Temporibus, aliquid voluptate?
              </p>
              <button class="read-btn">
                Read More <i class="uil uil-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="swiper-slide dark-layer">
            <img src="{% static 'yukti/assets/images/bg3.jpg' %}" alt="" />
            <div class="text-content">
              <h2 class="title">Title<span>3</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis obcaecati ipsum minus sit vitae magnam vel labore
                excepturi dignissimos nihil! Magnam, accusamus possimus
                exercitationem in sapiente nulla. Temporibus, aliquid voluptate?
              </p>
              <button class="read-btn">
                Read More <i class="uil uil-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'yukti/assets/images/bg4.jpg' %}" alt="" />
            <div class="text-content">
              <h2 class="title">Title<span>4</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis obcaecati ipsum minus sit vitae magnam vel labore
                excepturi dignissimos nihil! Magnam, accusamus possimus
                exercitationem in sapiente nulla. Temporibus, aliquid voluptate?
              </p>
              <button class="read-btn">
                Read More <i class="uil uil-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-slider-thumbs">
        <div class="swiper-wrapper thumbs-container">
          <img
            src="{% static 'yukti/assets/images/bg1.jpg' %}"
            class="swiper-slide"
            alt=""
          />
          <img
            src="{% static 'yukti/assets/images/bg2.jpg' %}"
            class="swiper-slide"
            alt=""
          />
          <img
            src="{% static 'yukti/assets/images/bg3.jpg' %}"
            class="swiper-slide"
            alt=""
          />
          <img
            src="{% static 'yukti/assets/images/bg4.jpg' %}"
            class="swiper-slide"
            alt=""
          />
        </div>
      </div>
    </section>

    <section class="about section">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </section>

    <script src="{% static 'yukti/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'yukti/js/Homepage.js' %}"></script>
  </body>
</html>
